.container {
  width: 220px;
  display: inline-flex;
  justify-content: space-between;
}

button {
  display: block;
  padding: 4px 8px;
  font-weight: var(--primary-font-weight);
  background-color: transparent;
  border: 2px solid var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
}
